.about-me-profile .about-me-avatar {
    margin: -50px auto 0;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.about-me-profile .about-me-avatar {
    max-width: 180px;
    max-height: 180px;
}

.about-me-profile .about-me-avatar img {
    width: 100%;
    height: auto;
}

.h6, h6 {
    font-size: .75rem;
    text-transform: uppercase;
    font-weight: 500;
}
.h1, .h2, .h3, .h4, body, h1, h2, h3, h4, h5, h6 {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: 300;
    line-height: 1.5em;
}


.about-me-title {
    margin-bottom: .75rem;
}


.about-me-description, .description, .footer-big p {
    width: 30%;
    margin: auto;
    color: #999;
}

.about-me-profile {
    margin-top: 30px;
    text-align: center;
}
.about-me {
    border: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 6px;
    color: #333;
    background: #fff;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #eee;
    border-radius: .25rem;
    font-size: .875rem;
}

@keyframes jump {
    0%   {transform: translate3d(0,0,0) scale3d(1,1,1);}
    40%  {transform: translate3d(0,50%,0) scale3d(.7,1.5,1);}
    100% {transform: translate3d(0,100%,0) scale3d(1.5,.7,1);}
  }
  .jump {
    -webkit-animation: jump 1.5s ease 0s normal;
    animation: jump 1.5s ease 0s normal;
    animation-iteration-count: infinite;
  }
  

  @keyframes jump {
    0%{
      transform: translateY(0);
    }
    20%{
      transform: translateY(0);
    }
    40%{
      transform: translateY(-10px);
    }
    50%{
      transform: translateY(0);
    }
    60%{
      transform: translateY(-5px);
    }
    80%{
      transform: translateY(0);
    }
    100%{
      transform: translateY(0);
    }
  }