<h2 mat-dialog-title>User form</h2>
<mat-dialog-content class="mat-typography">

    <p>
        <mat-form-field appearance="standard">
            <mat-label>Username</mat-label>
            <input [formControl]="usernameFormControl" matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Errors appear instantly!</mat-hint>
            <mat-error *ngIf="usernameFormControl.invalid">
                Username is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="standard">
            <mat-label>Name</mat-label>
            <input [formControl]="nameControl" matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Errors appear instantly!</mat-hint>
            <mat-error *ngIf="nameControl.invalid">
                Name is <strong>required</strong></mat-error>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="standard">
            <mat-label>Surname</mat-label>
            <input [formControl]="surnameControl" matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Errors appear instantly!</mat-hint>
            <mat-error *ngIf="surnameControl.invalid">
                Surname is <strong>required</strong></mat-error>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="standard">
            <mat-label>E-mail</mat-label>
            <input [formControl]="emailFormControl" matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Errors appear instantly!</mat-hint>
            <mat-error *ngIf="emailFormControl.invalid">
                Email is <strong>required</strong></mat-error>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field>
            <mat-label>Select an option</mat-label>
            <mat-select [formControl]="roleControl" required>
                <mat-option *ngFor="let role of roles" [(value)]="role">
                    {{role}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="roleControl.invalid">
                Role is <strong>required</strong></mat-error>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field>
            <mat-label>Select an option</mat-label>
            <mat-select [formControl]="enabledControl" required>
                <mat-option required *ngFor="let enableOption of enableOptions" [(value)]="enableOption">
                    {{ enableOption }}</mat-option>
            </mat-select>
            <mat-error *ngIf="enabledControl.invalid">
                Enable is <strong>required</strong></mat-error>
        </mat-form-field>
    </p>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" [disabled]="formGroup.invalid" (click)="updateUser()" cdkFocusRegionstart>Save</button>
</mat-dialog-actions>